<form class="form-container" id="userInput" action="/botTalk" method='POST'>
  <h1>Remdex</h1>


   <div id="chatbox">
              <p class="botText"><span>Hi! I'm Remdex..</span></p>
               <p class="botText"><span>I will answer your queries..</span></p>
                <p class="botText"><span> If you want to exit, type bye... :)</span></p>

   </div>

  <label for="user_input"><b>Message</b></label>
  <textarea placeholder="Type Message Here....." name="user_input" required="true" id="textInput"></textarea>
  <button type="submit" class="c-btn" id="buttonInput" value="send">Send</button>

</form>
